.menu {
  -webkit-box-shadow: 0 1px 100px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 100px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 100px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.2) inset;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  background-image: url("../images/bg/bg-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

.logo img {
  width: 60%;
  height: auto;
  padding: 8%; }

.menu-nav {
  padding: 0% 10%; }
  .menu-nav span {
    color: white;
    font-size: 16px;
    font-weight: 600; }
  .menu-nav a {
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    padding: 6px 0; }
    .menu-nav a:hover {
      color: white;
      font-weight: 500;
      font-size: 15px; }
    .menu-nav a.active {
      color: #75BEFF; }
  .menu-nav > .nav > li {
    margin-bottom: 20px; }
  .menu-nav > .nav {
    padding: 0; }
  .menu-nav .nav {
    list-style: none; }
    .menu-nav .nav .nav {
      padding-top: 7%;
      padding-bottom: 10%;
      padding-left: 10%; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
  text-align: center;
  border-top: 1px solid #efefef;
  display: block;
  text-decoration: none; }
  .footer i,
  .footer span {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    color: #666666; }
  .footer i {
    font-size: 17px;
    padding-right: 5px; }
  .footer span {
    font-size: 14px; }
  .footer:hover {
    text-decoration: none; }
    .footer:hover i,
    .footer:hover span {
      color: #75BEFF; }

.page {
  padding-left: 20%; }

.page-content {
  padding: 40px;
  margin: 0 auto;
  width: 885px;
  max-width: 100%;
  padding-bottom: 80px; }

blockquote {
  background-color: #e2e3e5 !important;
  border-radius: 4px;
  color: #383d41 !important;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 0%;
  border-left-style: outset;
  border-left-color: #e81e25;
  border-left-width: 6px; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.switch-page {
  position: fixed;
  height: 7%;
  bottom: 0;
  left: 20%;
  right: 0; }
  .switch-page .previous,
  .switch-page .next {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    position: absolute;
    top: 0; }
    .switch-page .previous i,
    .switch-page .previous span,
    .switch-page .next i,
    .switch-page .next span {
      display: inline-block;
      vertical-align: top;
      line-height: 20px;
      color: #75BEFF; }
    .switch-page .previous i,
    .switch-page .next i {
      font-size: 16px; }
    .switch-page .previous span,
    .switch-page .next span {
      font-size: 15px;
      padding: 0 5px; }
    .switch-page .previous:hover,
    .switch-page .next:hover {
      text-decoration: none; }
  .switch-page .previous {
    left: 0; }
  .switch-page .next {
    right: 0; }

h1 {
  font-family: Graphik-Medium, Roboto, sans-serif;
  font-size: 3rem;
  letter-spacing: 0.40rem;
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: 32px; }

h1 ~ hr {
  margin-bottom: 4%;
  border: 0;
  height: 3px;
  background: #333;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(0%, #333), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -moz-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -ms-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -webkit-linear-gradient(left, transparent 0%, #333 0%, transparent 50%); }

h2 {
  font-family: Graphik-Medium, Roboto, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  padding-top: 3%;
  padding-bottom: 2%;
  line-height: 32px; }

h2 ~ hr {
  margin-bottom: 4%;
  border: 0;
  height: 2px;
  background: #333;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(0%, #333), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -moz-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -ms-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -webkit-linear-gradient(left, transparent 0%, #333 0%, transparent 50%); }

h3 {
  font-size: 2.0rem;
  letter-spacing: 0.20rem;
  font-family: Graphik-Regular, Roboto, sans-serif;
  padding-top: 2%;
  padding-bottom: 2%;
  line-height: 32px; }

h3 ~ hr {
  margin-bottom: 4%;
  border: 0;
  height: 1px;
  background: #333;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(0%, #333), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -moz-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -ms-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -webkit-linear-gradient(left, transparent 0%, #333 0%, transparent 50%); }

h4 {
  font-size: 1.5rem;
  letter-spacing: 0.20rem;
  font-family: Graphik-Regular, Roboto, sans-serif;
  padding-top: 0%;
  padding-bottom: 0%; }

h4 ~ hr {
  margin-bottom: 0%;
  border: 0;
  height: 1px;
  background: #333;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(0%, #333), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -moz-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -ms-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -webkit-linear-gradient(left, transparent 0%, #333 0%, transparent 50%); }

h5 {
  font-size: 1.0rem;
  letter-spacing: 0.15rem;
  font-family: Graphik-Regular, Roboto, sans-serif;
  padding-top: 0%;
  padding-bottom: 0%;
  line-height: 32px; }

h5 ~ hr {
  margin-bottom: 0%;
  border: 0;
  height: 1px;
  background: #333;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(0%, #333), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -moz-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -ms-linear-gradient(left, transparent 0%, #333 0%, transparent 50%);
  background: -webkit-linear-gradient(left, transparent 0%, #333 0%, transparent 50%); }

p, ul li {
  font-size: 0.875rem;
  line-height: 32px;
  letter-spacing: 0.10rem;
  font-family: Graphik-Light, Roboto, sans-serif; }

a {
  color: #75BEFF;
  font-family: Graphik-Light, Roboto, sans-serif; }
  a:hover {
    color: #42a6ff;
    font-family: Graphik-Regular, Roboto, sans-serif; }

strong {
  font-family: Graphik-Medium; }

code {
  color: gray; }

code,
tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  background-color: #fbfbfb;
  font-family: monospace, Consolas, "Liberation Mono", Menlo, Courier, monospace; }

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight {
  font-family: monospace, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #eeeeee;
  border: 1px solid #efefef;
  font-size: 13px;
  line-height: 25px;
  overflow: auto;
  padding: 0;
  border-radius: 3px;
  margin-top: 3%;
  margin-left: 1%;
  margin-bottom: 4%;
  width: 91%; }
  .highlight table {
    width: 100%; }
    .highlight table .gutter,
    .highlight table .code {
      border: 0; }
    .highlight table .gutter {
      display: none; }
      .highlight table .gutter pre {
        color: #999; }
    .highlight table .code {
      width: 99%;
      color: gray; }

.highlight pre {
  background-color: #eeeeee;
  font-size: 13px;
  line-height: 25px;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 3px; }

pre code,
pre tt {
  background-color: transparent;
  border: none; }

.editor,
.editor .gutter {
  background-color: #FFFFFF;
  color: #4D4D4C; }

.editor.is-focused .cursor {
  border-color: #AEAFAD; }

.editor.is-focused .selection .region {
  background-color: #D6D6D6; }

.editor.is-focused .line-number.cursor-line-no-selection,
.editor.is-focused .line.cursor-line {
  background-color: #EFEFEF; }

.comment {
  color: #8E908C; }

.keyword.operator.class,
.constant.other,
.source.php.embedded.line {
  color: #666969; }

.variable,
.support.other.variable,
.string.other.link,
.string.regexp,
.entity.name.tag,
.entity.other.attribute-name,
.meta.tag,
.declaration.tag,
.markup.deleted.git_gutter {
  color: #C82829; }

.constant.numeric,
.constant.language,
.support.constant,
.constant.character,
.variable.parameter,
.punctuation.section.embedded,
.keyword.other.unit {
  color: #F5871F; }

.entity.name.class,
.entity.name.type.class,
.support.type,
.support.class {
  color: #C99E00; }

.string,
.constant.other.symbol,
.entity.other.inherited-class,
.entity.name.filename,
.markup.heading,
.markup.inserted.git_gutter {
  color: #718C00; }

.keyword.operator,
.constant.other.color {
  color: #3E999F; }

.entity.name.function,
.meta.function-call,
.support.function,
.keyword.other.special-method,
.meta.block-level,
.markup.changed.git_gutter {
  color: #4271AE; }

.keyword,
.storage,
.storage.type {
  color: #8959A8; }

.invalid {
  color: #FFFFFF;
  background-color: #C82829; }

.meta.separator {
  color: #FFFFFF;
  background-color: #4271AE; }

.invalid.deprecated {
  color: #FFFFFF;
  background-color: #8959A8; }

.markup.inserted.diff,
.markup.deleted.diff,
.meta.diff.header.to-file,
.meta.diff.header.from-file {
  color: #FFFFFF; }

.markup.inserted.diff,
.meta.diff.header.to-file {
  background-color: #718c00; }

.markup.deleted.diff,
.meta.diff.header.from-file {
  background-color: #c82829; }

.meta.diff.header.from-file,
.meta.diff.header.to-file {
  color: #FFFFFF;
  background-color: #4271ae; }

.meta.diff.range {
  font-style: italic;
  color: #3e999f; }

body {
  font-family: Graphik-Regular, Roboto, sans-serif;
  letter-spacing: 0.10rem;
  line-height: 0.30rem;
  color: #4A4A4A;
  margin: 0 auto; }
