.page {
  padding-left: 20%;
}

.page-content {
  padding: 40px;
  margin: 0 auto;
  width: 885px;
  max-width: 100%;
  padding-bottom: 80px;
}

blockquote {
  background-color: #e2e3e5 !important;
  border-radius: 4px;  
  color: #383d41 !important;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 0%;
  //-webkit-box-shadow: inset 0px 1px 10px 1px #000000;
  border-left-style: outset;
  border-left-color: #e81e25;
  border-left-width: 6px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.switch-page {
  position: fixed;
  height: 7%;
  bottom: 0;
  left: 20%;
  right: 0;

  .previous,
  .next {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    position: absolute;
    top: 0;

    i,
    span {
      display: inline-block;
      vertical-align: top;
      line-height: 20px;
      color: $primary;
    }

    i {
      font-size: 16px;
    }

    span {
      font-size: 15px;
      padding: 0 5px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .previous {
    left: 0;
  }

  .next {
    right: 0;
  }
}